.container-journey{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}
.container-stop{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0;
  align-items: center;
}
.container-stop :nth-child(n){
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.container-s-journey{
  display: flex;
  padding: 30px 0 30px 50px;
  font-size: 20px;
  border-bottom: 1px solid white;
}
.container-save{
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
}
.save:hover{
  cursor: pointer;
}
.stop{
  display: flex;
}
.stop :nth-child(n){
  width: 50%;
  display: flex;
  justify-content: space-around;
}
